@model Pratice1_2018_II.Domain.Models.Census

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Census</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.People)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.People)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stratum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stratum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveInternet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveInternet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveAqueduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveAqueduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveElectricity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveElectricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
