@model IEnumerable<Pratice1_2018_II.Domain.Models.Census>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stratum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveInternet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveAqueduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveElectricity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.People)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stratum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveInternet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveAqueduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveElectricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CensusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CensusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CensusId })
        </td>
    </tr>
}

</table>
